
<?xml version="1.0" ?>
<robot name="compactmaze">
  <link name="compactmaze">
    <inertial>
      <origin rpy="1.55 0 0" xyz="7.5 -4.3 0"/>
       <mass value="1"/>

    </inertial>
    <visual>
      <origin rpy="1.55 0 0" xyz="7.5 -4.3 -0.0"/>
      <geometry>
		<mesh filename="./obj/compactmaze_vhacd.obj" scale="0.05 0.05 0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.55 0 0" xyz="7.5 -4.3 -0.0"/>
      <geometry>
		<mesh filename="./obj/compactmaze_vhacd.obj" scale="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
</robot>
