<?xml version="1.0" ?>
<robot name="chair">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0989 -0.4075 0.6236"/>
       <mass value="6.0"/>
       <inertia ixx="0.25329985" ixy="-0.00000017" ixz="-0.00000096" iyy="0.25469998" iyz="0.08153485" izz="0.24913930"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0989 -0.4075 0.6236"/>
      <geometry>
        <mesh filename="../obj/chair.obj" scale="0.02 0.02 0.02"/>
      </geometry>
       <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 0" xyz="0.0989 -0.4075 0.6236"/>
      <geometry>
	 	<mesh filename="../obj/chair.obj" scale="0.02 0.02 0.02"/>
      </geometry>
    </collision>
  </link>
</robot>
