<?xml version="1.0" ?>
<robot name="object">
    <link name="object_link">
        <contact>
          <lateral_friction value="1.0"/>
          <rolling_friction value="1.0"/>
          <stiffness value="10000"/>
          <damping value="100"/>
        </contact>
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
           <mass value="2"/>
           <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
          <geometry>
            <cylinder length="0.1" radius="0.02"/>
          </geometry>
          <material name="blue">
            <color rgba="0 0 .8 1"/>
          </material>
        </visual>
        <collision>
          <geometry>
            <cylinder length="0.1" radius="0.02"/>
          </geometry>
        </collision>
    </link>
</robot>