<?xml version="1.0" ?>
<robot name="wafer">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0001 0.0 0.0"/>
       <mass value="0.008"/>
       <inertia ixx="0.000000489" ixy="0" ixz="0" iyy="0.000004865" iyz="0" izz="0.000005319"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0001 0.0 0.0"/>
      <geometry>
        <mesh filename="../obj/wafer.obj" scale=".001 .001 .001"/>
      </geometry>
       <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 0" xyz="0.0001 0.0 0.0"/>
      <geometry>
	 	<mesh filename="../obj/wafer.obj" scale=".001 .001 .001"/>
      </geometry>
    </collision>
  </link>
</robot>
