
<?xml version="1.0" ?>
<robot name="room">
  <link name="room">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 -0.05"/>
      <geometry>
		<mesh filename="./obj/room3.obj" scale="0.1 0.1 0.1"/>
      </geometry>
       <material name="white">
        <color rgba=".7 .7 .7 1"/>
      </material>
    </visual>
  </link>
</robot>
