<?xml version="1.0"?>
<!--
  Copyright (c) 2011, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution 4.0 International License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0 or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<robot>
 <material name="Hey5DarkGrey">
   <color rgba="0.1 0.1 0.1 1.0"/>
 </material>
</robot>
