<?xml version="1.0"?>
<!--
  Copyright (c) 2015, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="pal_gripper">
  <!--External resources-->
  <xacro:include filename="$(find pal_gripper_description)/urdf/deg_to_rad.urdf.xacro" />
  <xacro:include filename="$(find pal_gripper_description)/urdf/gripper.urdf.xacro" />
  <xacro:include filename="$(find pal_gripper_description)/urdf/materials.urdf.xacro" />
  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find pal_gripper_description)/gazebo/gazebo.urdf.xacro" />

  <!--Spawn gripper-->
  <link name="base_link"/>

  <xacro:pal_gripper parent="base_link" name="gripper">
    <origin xyz="0 0 0" rpy="0 ${180 * deg_to_rad} ${0 * deg_to_rad}" />
  </xacro:pal_gripper>

</robot>
