<?xml version="1.0" ?>
<robot name="duck">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0016 -0.0014  0.0364"/>
       <mass value="0.172"/>
       <inertia ixx="0.00011810" ixy="-0.00000119" ixz="0.00000187" iyy="0.00009617" iyz="0.00002273" izz="0.00008876"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.0016 -0.0014  0.0364"/>
      <geometry>
        <mesh filename="./stl/duck.stl" scale="0.001 0.001 0.001"/>
      </geometry>
       <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 0" xyz="-0.0016 -0.0014  0.0364"/>
      <geometry>
	 	<mesh filename="./stl/duck.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>
