
<?xml version="1.0" ?>
<robot name="compactmaze">
  <link concave="yes" name="compactmaze">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="1.55 0 0" xyz="7.5 -4.3 0"/>
       <mass value="1"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="1.55 0 0" xyz="7.5 -4.3 -0.0"/>
      <geometry>
		<mesh filename="./obj/compactmaze.obj" scale="0.05 0.05 0.05"/>
      </geometry>
      <material name="red">
        <color rgba="1 0.4 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="1.55 0 0" xyz="7.5 -4. -0.0"/>
      <geometry>
		<mesh filename="./obj/compactmaze.obj" scale="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
</robot>
