
<robot name="table_universal">
<material name="wood_brown">
  <color rgba="0.71 0.40 0.11 1.0"/>
</material>

  <link name="table_universal">
    <contact>
      <lateral_friction value="0.1"/>
    </contact>
    <inertial>
      <origin rpy="0.0001 0 0" xyz="0 0.0001 -0.72"/>
       <mass value="10.000"/>
       <inertia ixx="1" ixy="10" ixz="0" iyy="10" iyz="0" izz="10"/>
    </inertial>
                                                                        <!-- FRONT TABLE -->
    <visual>
      <origin rpy="0 0 0" xyz="0.5 0 -0.01"/>
      <geometry>
				<box size="1.2 1.4 0.02"/>
      </geometry>
     <material name="wood_brown"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.5 0 -0.01"/>
      <geometry>
	 	    <box size="1.2 1.4 0.02"/>
      </geometry>
    </collision>
	<visual>
      <origin rpy="0.000 0 0" xyz="0.215 -0.675 -0.37"/>
      <geometry>
	    <box size="0.03 0.05 .7"/>
      </geometry>
	  <material name="wood_brown"/>	 
    </visual>
    <visual>
      <origin rpy="0.000 0 0" xyz="0.885 -0.675 -0.37"/>
      <geometry>
        <box size="0.03 0.05 .7"/>
      </geometry>
	  <material name="wood_brown"/>
	  </visual>
    <visual>
      <origin rpy="0.000 0 0" xyz="0.215 0.675 -0.37"/>
      <geometry>
        <box size="0.03 0.05 .7"/>
      </geometry>
	  <material name="wood_brown"/>
	  </visual>
    <visual>
      <origin rpy="0.000 0 0" xyz="0.885 0.675 -0.37"/>
      <geometry>
        <box size="0.03 0.05 .7"/>
      </geometry>
    <material name="wood_brown"/>
    </visual>
    
    <collision>
      <origin rpy="0.000 0 0" xyz="0.215 -0.675 -0.37"/>
      <geometry>
	    <box size="0.03 0.05 .7"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.000 0 0" xyz="0.885 -0.675 -0.37"/>
      <geometry>
        <box size="0.03 0.05 .7"/>
      </geometry>
	  </collision>
    <collision>
      <origin rpy="0.000 0 0" xyz="0.215 0.675 -0.37"/>
      <geometry>
        <box size="0.03 0.05 .7"/>
      </geometry>
	  </collision>
    <collision>
      <origin rpy="0.000 0 0" xyz="0.885 0.675 -0.37"/>
      <geometry>
        <box size="0.03 0.05 .7"/>
      </geometry>
    </collision>
  </link>
</robot>
