<?xml version="1.0" encoding="utf-8"?>

<robot
  name="walkerS2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.06386519 -0.00011351 0.01065255"
        rpy="0 0 0" />
      <mass
        value="6.10566795" />
      <inertia
        ixx="0.05624802"
        ixy="-2.68E-05"
        ixz="-0.00443226"
        iyy="0.02883251"
        iyz="-0.000134"
        izz="0.07296666" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="-0.00019894 -0.0096767 0.02710775"
        rpy="0 0 0" />
      <mass
        value="0.51683988" />
      <inertia
        ixx="0.00171935"
        ixy="2.37E-06"
        ixz="9.57E-06"
        iyy="0.00108364"
        iyz="-6.49E-05"
        izz="0.00138793" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.00092617 0 0.143"
      rpy="3.1416 -0.0064767 0" />
    <parent
      link="base_link" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8274"
      upper="2.8274"
      effort="85"
      velocity="3.1416" />
  </joint>
  <link
    name="waist_pitch_link">
    <inertial>
      <origin
        xyz="-0.0173718 0.2054213 -0.00210714"
        rpy="0 0 0" />
      <mass
        value="24.18588597" />
      <inertia
        ixx="0.52254924"
        ixy="0.0122"
        ixz="0.00245568"
        iyy="0.20002449"
        iyz="-0.00535"
        izz="0.4671002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/waist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/waist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 -0.0064767 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="waist_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5707"
      upper="0.6108"
      effort="265"
      velocity="2.0944" />
  </joint>
  <link
    name="head_yaw_link">
    <inertial>
      <origin
        xyz="0.00023349 -3.98E-05 0.02308052"
        rpy="0 0 0" />
      <mass
        value="0.21951531" />
      <inertia
        ixx="8.12E-05"
        ixy="1.01E-06"
        ixz="-3.2E-07"
        iyy="6.29E-05"
        iyz="3.78E-06"
        izz="7.63E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/head_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/head_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0.4841 0"
      rpy="-1.5708 0 0" />
    <parent
      link="waist_pitch_link" />
    <child
      link="head_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.658"
      upper="1.658"
      effort="4.5"
      velocity="3.1416" />
  </joint>
  <link
    name="head_pitch_link">
    <inertial>
      <origin
        xyz="0.04056552 0.10249693 -0.00026038"
        rpy="0 0 0" />
      <mass
        value="1.0690069" />
      <inertia
        ixx="0.00473535"
        ixy="0.00033437"
        ixz="-1.26E-05"
        iyy="0.00450809"
        iyz="-2.68E-05"
        izz="0.00518573" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/head_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/head_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0.025"
      rpy="1.5708 0 0" />
    <parent
      link="head_yaw_link" />
    <child
      link="head_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7854"
      upper="0.5236"
      effort="4.5"
      velocity="3.1416" />
  </joint>
  <link
    name="L_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.000221 -0.00509318 -0.05262953"
        rpy="0 0 0" />
      <mass
        value="0.98147022" />
      <inertia
        ixx="0.00117594"
        ixy="-4.84E-06"
        ixz="-2.41E-06"
        iyy="0.00112373"
        iyz="-3.12E-05"
        izz="0.00090041" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0046 0.34864 -0.15387"
      rpy="0 -0.17453 1.5708" />
    <parent
      link="waist_pitch_link" />
    <child
      link="L_shoulder_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8623"
      upper="2.8623"
      effort="80"
      velocity="3.1416" />
  </joint>
  <link
    name="L_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.0363463 0.00197513 -0.00526968"
        rpy="0 0 0" />
      <mass
        value="0.53957013" />
      <inertia
        ixx="0.00123053"
        ixy="-1.9E-05"
        ixz="0.000107"
        iyy="0.00189152"
        iyz="-1.3E-05"
        izz="0.00142983" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.06"
      rpy="-1.5708 0 0" />
    <parent
      link="L_shoulder_pitch_link" />
    <child
      link="L_shoulder_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.885"
      upper="0.1222"
      effort="80"
      velocity="3.1416" />
  </joint>
  <link
    name="L_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-0.00899004 0.00278 0.12860192"
        rpy="0 0 0" />
      <mass
        value="1.99759468" />
      <inertia
        ixx="0.01565644"
        ixy="5.4E-05"
        ixz="0.00156529"
        iyy="0.01576798"
        iyz="-0.000436"
        izz="0.00210574" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.083 0 0"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="L_shoulder_roll_link" />
    <child
      link="L_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9322"
      upper="2.9322"
      effort="45"
      velocity="3.1416" />
  </joint>
  <link
    name="L_elbow_roll_link">
    <inertial>
      <origin
        xyz="0.00853041 -0.05741022 0.00089275"
        rpy="0 0 0" />
      <mass
        value="0.66750304" />
      <inertia
        ixx="0.00253838"
        ixy="0.00030611"
        ixz="7.49E-06"
        iyy="0.00139512"
        iyz="-3.35E-05"
        izz="0.00220496" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_elbow_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_elbow_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_elbow_roll_joint"
    type="revolute">
    <origin
      xyz="-0.019993 0 0.213"
      rpy="-1.5708 0 0" />
    <parent
      link="L_shoulder_yaw_link" />
    <child
      link="L_elbow_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.6529"
      upper="0.0349"
      effort="45"
      velocity="3.1416" />
  </joint>
  <link
    name="L_elbow_yaw_link">
    <inertial>
      <origin
        xyz="0.00097407 0.00017933 0.04577716"
        rpy="0 0 0" />
      <mass
        value="0.87457488" />
      <inertia
        ixx="0.00143841"
        ixy="3.89E-06"
        ixz="-5.22E-05"
        iyy="0.0016363"
        iyz="7E-07"
        izz="0.00087583" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_elbow_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_elbow_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_elbow_yaw_joint"
    type="revolute">
    <origin
      xyz="0.019993 -0.10368 0"
      rpy="1.5708 0 0" />
    <parent
      link="L_elbow_roll_link" />
    <child
      link="L_elbow_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9322"
      upper="2.9322"
      effort="20"
      velocity="3.1416" />
  </joint>
  <link
    name="L_wrist_pitch_link">
    <inertial>
      <origin
        xyz="-0.03844459 -0.00485589 -0.00477205"
        rpy="0 0 0" />
      <mass
        value="1.31445091" />
      <inertia
        ixx="0.00090036"
        ixy="-0.00021851"
        ixz="0.000227"
        iyy="0.00273144"
        iyz="3.05E-05"
        izz="0.00273579" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_wrist_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0.11832"
      rpy="3.1416 1.5708 0" />
    <parent
      link="L_elbow_yaw_link" />
    <child
      link="L_wrist_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.658"
      upper="1.658"
      effort="20"
      velocity="3.1416" />
  </joint>
  <link
    name="L_wrist_roll_link">
    <inertial>
      <origin
        xyz="-4.59E-06 0.0170564 -0.0007487"
        rpy="0 0 0" />
      <mass
        value="0.15210234" />
      <inertia
        ixx="0.00027356"
        ixy="0"
        ixz="-2E-08"
        iyy="0.00021546"
        iyz="-7.68E-06"
        izz="0.00011023" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_wrist_roll_joint"
    type="revolute">
    <origin
      xyz="-0.076 0 0"
      rpy="1.5708 1.5708 3.1416" />
    <parent
      link="L_wrist_pitch_link" />
    <child
      link="L_wrist_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0245"
      upper="2.0245"
      effort="20"
      velocity="3.1416" />
  </joint>
  <link
    name="L_sixforce_link">
    <inertial>
      <origin
        xyz="0.00018615 2.11E-06 -0.01106561"
        rpy="0 0 0" />
      <mass
        value="0.16999999" />
      <inertia
        ixx="3.57E-05"
        ixy="2.1E-07"
        ixz="-7.8E-07"
        iyy="5.03E-05"
        iyz="6E-08"
        izz="6.13E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_sixforce_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_sixforce_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_sixforce_joint"
    type="fixed">
    <origin
      xyz="0 0.07712 0"
      rpy="0.0 -1.5708 -1.5708" />
    <parent
      link="L_wrist_roll_link" />
    <child
      link="L_sixforce_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <link
    name="R_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-8.87E-05 0.00504437 -0.05262341"
        rpy="0 0 0" />
      <mass
        value="0.98272939" />
      <inertia
        ixx="0.00117784"
        ixy="-5.21E-06"
        ixz="-4.64E-06"
        iyy="0.00112441"
        iyz="3.15E-05"
        izz="0.00090287" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0046 0.34864 0.15387"
      rpy="3.1416 0.17453 1.5708" />
    <parent
      link="waist_pitch_link" />
    <child
      link="R_shoulder_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8623"
      upper="2.8623"
      effort="80"
      velocity="3.1416" />
  </joint>
  <link
    name="R_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.03609145 0.00196617 0.00534494"
        rpy="0 0 0" />
      <mass
        value="0.54339959" />
      <inertia
        ixx="0.00124605"
        ixy="-1.87E-05"
        ixz="-0.000109"
        iyy="0.00191195"
        iyz="1.3E-05"
        izz="0.00143677" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.06"
      rpy="-1.5708 0 0" />
    <parent
      link="R_shoulder_pitch_link" />
    <child
      link="R_shoulder_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.885"
      upper="0.1222"
      effort="80"
      velocity="3.1416" />
  </joint>
  <link
    name="R_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-0.00905569 -0.00297967 0.1286266"
        rpy="0 0 0" />
      <mass
        value="1.9964922" />
      <inertia
        ixx="0.01564069"
        ixy="-4.94E-05"
        ixz="0.00157215"
        iyy="0.01575071"
        iyz="0.000468"
        izz="0.00210931" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.083 0 0"
      rpy="-1.5708 -0.020023 1.5708" />
    <parent
      link="R_shoulder_roll_link" />
    <child
      link="R_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9322"
      upper="2.9322"
      effort="45"
      velocity="3.1416" />
  </joint>
  <link
    name="R_elbow_roll_link">
    <inertial>
      <origin
        xyz="0.00836062 -0.0579 -0.00065816"
        rpy="0 0 0" />
      <mass
        value="0.6833698" />
      <inertia
        ixx="0.00259975"
        ixy="0.00029753"
        ixz="-5.05E-06"
        iyy="0.00143259"
        iyz="2.64E-05"
        izz="0.00224873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_elbow_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_elbow_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_elbow_roll_joint"
    type="revolute">
    <origin
      xyz="-0.019989 -0.00040028 0.213"
      rpy="-1.5708 0 0.020023" />
    <parent
      link="R_shoulder_yaw_link" />
    <child
      link="R_elbow_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.6529"
      upper="0.0349"
      effort="45"
      velocity="3.1416" />
  </joint>
  <link
    name="R_elbow_yaw_link">
    <inertial>
      <origin
        xyz="-0.00097407 -0.00017922 0.04577713"
        rpy="0 0 0" />
      <mass
        value="0.87457488" />
      <inertia
        ixx="0.00143841"
        ixy="3.89E-06"
        ixz="5.22E-05"
        iyy="0.00164"
        iyz="-7.1E-07"
        izz="0.00087583" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_elbow_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_elbow_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_elbow_yaw_joint"
    type="revolute">
    <origin
      xyz="0.019993 -0.10368 0"
      rpy="1.5708 0 0" />
    <parent
      link="R_elbow_roll_link" />
    <child
      link="R_elbow_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9322"
      upper="2.9322"
      effort="20"
      velocity="3.1416" />
  </joint>
  <link
    name="R_wrist_pitch_link">
    <inertial>
      <origin
        xyz="-0.03844461 0.00485589 0.00477205"
        rpy="0 0 0" />
      <mass
        value="1.31445091" />
      <inertia
        ixx="0.00090036"
        ixy="0.000219"
        ixz="-0.00022711"
        iyy="0.00273144"
        iyz="3.05E-05"
        izz="0.00273579" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_wrist_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0.11832"
      rpy="3.1416 1.5708 0" />
    <parent
      link="R_elbow_yaw_link" />
    <child
      link="R_wrist_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.658"
      upper="1.658"
      effort="20"
      velocity="3.1416" />
  </joint>
  <link
    name="gripper">
    <inertial>
      <origin
        xyz="4.63E-06 0.01705624 0.0007487"
        rpy="0 0 0" />
      <mass
        value="0.15210234" />
      <inertia
        ixx="0.00027356"
        ixy="0"
        ixz="-2E-08"
        iyy="0.00021546"
        iyz="7.68E-06"
        izz="0.00011023" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
   <link name="ee_x_axis">
    <visual>
    <origin xyz="0.03 0 0" rpy="0 1.57079632679 0"/>
    <geometry>
      <cylinder length="0.06" radius="0.002"/>
    </geometry>
    <material name="red">
      <color rgba="1 0 0 1"/>
    </material>
  </visual>
    </link>
    <link name="ee_y_axis">
  <visual>
    <origin xyz="0 0.03 0" rpy="-1.57079632679 0 0"/>
    <geometry>
      <cylinder length="0.06" radius="0.002"/>
    </geometry>
    <material name="green">
      <color rgba="0 1 0 1"/>
    </material>
  </visual>
    </link>
    <link name="ee_z_axis">
  <visual>
    <origin xyz="0 0 0.03" rpy="0 0 0"/>
    <geometry>
      <cylinder length="0.06" radius="0.002"/>
    </geometry>
    <material name="blue">
      <color rgba="0 0 1 1"/>
    </material>
  </visual>
</link>
    <link name="endeffector">
  <visual>
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    <geometry>
      <sphere radius="0.005"/>
    </geometry>
    <material name="yellow">
      <color rgba="1 1 0 1"/>
    </material>
  </visual>
</link>
<joint name="endeffector_joint" type="fixed">
    	<parent link="gripper"/>
    	<child link="endeffector"/>
    	<origin rpy="1.57 0 0" xyz="0.00 0.15 0.0"/>
	</joint>
	<joint name="ee_z_axis_joint" type="fixed">
    	<parent link="gripper"/>
    	<child link="ee_z_axis"/>
    	<origin rpy="-1.57 -1.57 0" xyz="0.0 0.15 0.0"/>
	</joint>
    	<joint name="ee_x_axis_joint" type="fixed">
    	<parent link="gripper"/>
    	<child link="ee_x_axis"/>
    	<origin rpy="-1.57 -1.57 0" xyz="0.0 0.15 0.0"/>
	</joint>
    <joint name="ee_y_axis_joint" type="fixed">
    	<parent link="gripper"/>
    	<child link="ee_y_axis"/>
    	<origin rpy="-1.57 -1.57 0" xyz="0.0 0.15 0.0"/>
	</joint>

  <joint name="R_wrist_roll_joint" type="revolute">
    <origin xyz="-0.076 0 0" rpy="1.5708 1.5708 3.1416" />
    <parent link="R_wrist_pitch_link" />
    <child link="gripper" />
    <axis xyz="0 0 1" />
    <limit
      lower="-2.0245"
      upper="2.0245"
      effort="20"
      velocity="3.1416" />
  </joint>
  <link
    name="R_sixforce_link">
    <inertial>
      <origin
        xyz="-0.00018615 -2.11E-06 -0.01106561"
        rpy="0 0 0" />
      <mass
        value="0.16999999" />
      <inertia
        ixx="3.57E-05"
        ixy="2.1E-07"
        ixz="7.8E-07"
        iyy="5.03E-05"
        iyz="-6E-08"
        izz="6.13E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_sixforce_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_sixforce_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="R_sixforce_joint" type="fixed">
    <origin xyz="0 0.07712 0" rpy="-1.5708 1.5708 0" />
    <parent link="gripper" />
    <child link="R_sixforce_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link
    name="L_hip_roll_link">
    <inertial>
      <origin
        xyz="0.0092362 0.00068462 -0.00762458"
        rpy="0 0 0" />
      <mass
        value="1.32105747" />
      <inertia
        ixx="0.00186596"
        ixy="1.517E-05"
        ixz="-9.8E-05"
        iyy="0.00173588"
        iyz="2.52E-05"
        izz="0.00116343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0 0.105 0"
      rpy="0 1.5643 0" />
    <parent
      link="base_link" />
    <child
      link="L_hip_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.4363"
      upper="0.7853"
      effort="225"
      velocity="3.1416" />
  </joint>
  <link
    name="L_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.00023965 0.00396362 0.11568685"
        rpy="0 0 0" />
      <mass
        value="2.28909729" />
      <inertia
        ixx="0.00430439"
        ixy="3.98E-06"
        ixz="-9.23E-06"
        iyy="0.00489286"
        iyz="-5.1E-05"
        izz="0.00362774" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.8488 -1.5708 1.2928" />
    <parent
      link="L_hip_roll_link" />
    <child
      link="L_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="1.0471"
      effort="65"
      velocity="5.236" />
  </joint>
  <link
    name="L_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.0018469 -0.15590228 -0.00269388"
        rpy="0 0 0" />
      <mass
        value="4.15060522" />
      <inertia
        ixx="0.04292046"
        ixy="0.00183"
        ixz="6.39E-05"
        iyy="0.0099854"
        iyz="-0.00112302"
        izz="0.04278489" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0.122"
      rpy="-1.5708 0 0" />
    <parent
      link="L_hip_yaw_link" />
    <child
      link="L_hip_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.349"
      upper="1.9198"
      effort="225"
      velocity="8.7266" />
  </joint>
  <link
    name="L_knee_pitch_link">
    <inertial>
      <origin
        xyz="-0.00100471 -0.15954641 0.00100453"
        rpy="0 0 0" />
      <mass
        value="3.82687544" />
      <inertia
        ixx="0.03406888"
        ixy="-0.000889"
        ixz="-6.85E-05"
        iyy="0.00486479"
        iyz="-0.000151"
        izz="0.03481565" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_knee_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_knee_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_knee_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.36 0"
      rpy="0 0 0" />
    <parent
      link="L_hip_pitch_link" />
    <child
      link="L_knee_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.2689"
      upper="0.0872"
      effort="225"
      velocity="9.5993" />
  </joint>
  <link
    name="L_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.06591367" />
      <inertia
        ixx="1.09E-05"
        ixy="-5E-08"
        ixz="0"
        iyy="1.84E-05"
        iyz="0"
        izz="1.09E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.37 0"
      rpy="0 0 -0.0064767" />
    <parent
      link="L_knee_pitch_link" />
    <child
      link="L_ankle_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5235"
      upper="1.0471"
      effort="65"
      velocity="8.7266" />
  </joint>
  <link
    name="L_ankle_roll_link">
    <inertial>
      <origin
        xyz="-0.03099794 -0.000273 0.02397368"
        rpy="0 0 0" />
      <mass
        value="0.7830616" />
      <inertia
        ixx="0.00326836"
        ixy="-2.21E-06"
        ixz="0.000163"
        iyy="0.00288048"
        iyz="-7.82E-06"
        izz="0.00070111" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/L_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 1.5773" />
    <parent
      link="L_ankle_pitch_link" />
    <child
      link="L_ankle_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5235"
      upper="0.5235"
      effort="65"
      velocity="8.7266" />
  </joint>
  <link
    name="R_hip_roll_link">
    <inertial>
      <origin
        xyz="0.0092362 0.00068462 -0.00762458"
        rpy="0 0 0" />
      <mass
        value="1.32105747" />
      <inertia
        ixx="0.00186596"
        ixy="1.517E-05"
        ixz="-9.8E-05"
        iyy="0.00173588"
        iyz="2.52E-05"
        izz="0.00116343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0 -0.105 0"
      rpy="0 1.5643 0" />
    <parent
      link="base_link" />
    <child
      link="R_hip_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7853"
      upper="0.4363"
      effort="225"
      velocity="3.1416" />
  </joint>
  <link
    name="R_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.00023965 0.00396362 0.11568685"
        rpy="0 0 0" />
      <mass
        value="2.28909729" />
      <inertia
        ixx="0.00430439"
        ixy="3.98E-06"
        ixz="-9.23E-06"
        iyy="0.00489286"
        iyz="-5.1E-05"
        izz="0.00362774" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.6249 -1.5708 1.5167" />
    <parent
      link="R_hip_roll_link" />
    <child
      link="R_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.0471"
      upper="0.7853"
      effort="65"
      velocity="5.236" />
  </joint>
  <link
    name="R_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.00152133 -0.15560529 0.00278294"
        rpy="0 0 0" />
      <mass
        value="4.15575253" />
      <inertia
        ixx="0.04287391"
        ixy="0.00190943"
        ixz="-8.428E-05"
        iyy="0.01000225"
        iyz="0.00113"
        izz="0.04271714" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0.122"
      rpy="-1.5708 0 0" />
    <parent
      link="R_hip_yaw_link" />
    <child
      link="R_hip_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.349"
      upper="1.9198"
      effort="225"
      velocity="8.7266" />
  </joint>
  <link
    name="R_knee_pitch_link">
    <inertial>
      <origin
        xyz="-0.00100471 -0.15954641 0.00100453"
        rpy="0 0 0" />
      <mass
        value="3.82687544" />
      <inertia
        ixx="0.03406888"
        ixy="-0.000889"
        ixz="-6.85E-05"
        iyy="0.00486479"
        iyz="-0.000151"
        izz="0.03481565" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_knee_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_knee_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_knee_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.36 0"
      rpy="0 0 0" />
    <parent
      link="R_hip_pitch_link" />
    <child
      link="R_knee_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.2689"
      upper="0.0872"
      effort="225"
      velocity="9.5993" />
  </joint>
  <link
    name="R_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.06591375" />
      <inertia
        ixx="1.09E-05"
        ixy="0"
        ixz="0"
        iyy="1.84E-05"
        iyz="0"
        izz="1.09E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.37 0"
      rpy="0 0 0" />
    <parent
      link="R_knee_pitch_link" />
    <child
      link="R_ankle_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5235"
      upper="1.0471"
      effort="65"
      velocity="8.7266" />
  </joint>
  <link
    name="R_ankle_roll_link">
    <inertial>
      <origin
        xyz="-0.03099814 0.00026566 0.02395108"
        rpy="0 0 0" />
      <mass
        value="0.78315603" />
      <inertia
        ixx="0.00326857"
        ixy="2.22E-06"
        ixz="0.000164"
        iyy="0.00288049"
        iyz="7.55E-06"
        izz="0.00070131" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://walkerS2/meshes/R_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="R_ankle_pitch_link" />
    <child
      link="R_ankle_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5235"
      upper="0.5235"
      effort="65"
      velocity="8.7266" />
  </joint>
</robot>