<?xml version="1.0" ?>
<robot name="knife">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0225 0.000 0.0047"/>
       <mass value="0.150"/>
       <inertia ixx="0.00012333" ixy="-0.0" ixz="-0.0" iyy="0.00005145" iyz="0.00000007" izz="0.00012910"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0225 0.000 0.0047"/>
      <geometry>
        <mesh filename="../obj/knife.obj" scale="0.01 0.01 0.01"/>
      </geometry>
       <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 0" xyz="0.0225 0.000 0.0047"/>
      <geometry>
	 	<mesh filename="../obj/knife.obj" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
</robot>
